<!DOCTYPE html>
<html lang="nb">
	<head>
		<title>Hjem</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">	
	</head>
	
	<body>
		<header id="header">
			<h2>StartUp<h2>
		</header>
		
		<nav id="navbar">
			<ul>
				<li><a href="index.html" class="button-box">Home</a></li>
				<li><a href="html-skjemaer.html" class="button-box">Products</a></li>
				<li><a href="media-typer.html" class="button-box">Contact Us</a></li>
			</ul>
		</nav>
		
		<main id="main">
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
			<article class="article-box"> 
				<p>this a box</p>
			</article>
		</main>
		
		<footer id="footer">
			<p>Copyright &copy; 2020 Ressursside for Webutvikling</p>
			<p>Ibragim Yusupov</p>
			<address>
				<a href="mailto:ibragim.yusupov@hiof.no">ibragim.yusupov@hiof.no</a>
			</address>
		</footer>
	</body>
</html>