/* Dette er om #page-container tag */
#store-page {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	background-color: #F6F5F1;
	display: grid;
	grid-gap: 0px;
	grid-template-rows: 2fr 1fr auto 1fr;
	grid-template-areas:"header"
						"navbar"
						"main"
						"footer";
}

/* Dette er om headeren */ 
#header {
	background-image: url(/images/image1.jpg);
	text-align: center;
	grid-area: header;
}

/* Dette er om navigasjonsmenyen */ 
#navbar {
	background-color:teal;
	text-align: center;
	grid-area: navbar;
}

#navbar ul {
	list-style:none;
}

#navbar li {
	display:inline;
}

#navbar a {
	color:black;
	text-decoration: none;
	display: inline-block;
}

#navbar ul li a:hover {
	text-decoration: underline;
}

/* Dette er om main tag */ 
#main {
	display: flex;
	align-self: center;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-area: main;
}

/* Dette er om aside tag */ 
#aside {
	display:flex;
	flex-direction: column;
	grid-area: aside;
}

/* Dette er om footer tag */ 
#footer {
	background-color: teal;
	color:#fdfff5;
	text-align:center;
	grid-area: footer;
}

#footer a {
  color: #fdfff5;
}

.article-box {
	align-content: center;
	width: 250px;
	height: 250px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 10px;
	padding: 10px;
	border: teal solid;
	border-radius:10px;	
	text-align: center;
}

.section-box {
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 10px;
	padding: 10px;
	border: teal solid;
	border-radius:10px;	
	text-decoration: none;
}

.button-box {
	background-color:#599bb3;
	border-radius:20px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 7px;
	text-decoration:none;
	text-shadow:3px 0px 11px #3d768a;
	margin: 5px;
}

.button-box:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.button-box:active {
	position:relative;
	top:1px;
}

.box {
	text-align: left;
	margin:20px;
	padding:20px;
	border: teal solid;
	border-radius:10px;	
}

/*Media Quaries - for mobile*/
@media only screen and (max-width:600px){
	#store-page {
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		background-color: #F6F5F1;
		display: grid;
		grid-gap: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: 200px 190px 1fr 1fr 120px;
		grid-template-areas:"header"
							"navbar"
							"main"
							"aside"
							"footer";
	}
}

/*Media Quaries - for tablet*/
@media only screen and (max-width:1200px) and (min-width:600px) {
	#store-page {
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		background-color: #F6F5F1;
		display: grid;
		grid-gap: 0px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 200px 140px 1fr 120px;
		grid-template-areas:"header header"
							"navbar navbar"
							"main aside"
							"footer footer";
	}
}
