/* Dette er om body tag */
body {
	font-size: 18px;
	margin: 1px;
	padding: 0px;
	background-color: #F6F5F1;
	display: grid;
	grid-gap: 1px;
	grid-template-rows: 0fr 2fr 0fr auto 1fr;
	grid-template-areas:"navbar1"
                        "header"
                        "navbar2"
                        "main"
                        "footer";
}

/*Bruker Navigasjonsmeny*/
#navbar1 {
	grid-area: navbar1;
	background-color: whitesmoke;
	display: grid;
	grid-template-column: 1fr 1fr;
	grid-template-areas: "buttons account"
}

.nav1buttons {
	grid-area: buttons;
}

/*DROPDOWN MENU (MY ACCOUNT)*/
.dropbtn {
	background-color: whitesmoke;
	float: right;
	padding: 12px;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	grid-area: account;
	position: absolute;
	display: inline-block;
	right:0;
}

.dropdown-content {
	border: solid 1px black;
	margin: 60px;
	margin-right: 10px;
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px;
	text-decoration: none;
	text-align: left;
	display: block;
}

.dropdown-content a:hover {background-color: lightblue;}

.dropdown:hover .dropdown-content {display: block;}

/*ØVERSTE NAVBAR (LOG IN, MY ACCOUNT O.L)*/
#navbar1 ul {
	list-style:none;
}

#navbar1 li {
	display:inline;
}

#navbar1 a {
	color:black;
	text-decoration: none;
}

#navbar1 ul li a:hover {
	text-decoration: underline;
}

/*log in button*/
.logbtn {
	float: left;
	margin-left: 3px;
	padding: 2px 10px;
	font-size: 18px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: #d0cbd6;
}

/*sign up button*/
.signbtn {
	float: left;
	margin-left: 15px;
	padding: 2px 10px;
	font-size: 18px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: orange;
}


/* Dette er om headeren */
#header {
	background-image: url(../images/image1.jpg);
	text-align: center;
	grid-area: header;
}

/* Dette er om navigasjonsmenyen */
#navbar2 {
	background-color:teal;
	text-align: center;
	grid-area: navbar2;
}

#navbar2 ul {
	list-style:none;
}

#navbar2 li {
	display:inline;
}

#navbar2 a {
	color:black;
	text-decoration: none;
	display: inline-block;
}

#navbar2 ul li a:hover {
	text-decoration: underline;
}

/* Dette er om main tag */
#main {
	display: flex;
	align-self: center;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-area: main;
}

/*MAIN FOR CONTACT SECTION*/
* {
	box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

/* Style the container/contact section */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}

.storedetails {
	text-align: center;
	padding-top: 100px;
	font-size: 23px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Dette er om aside tag */
#aside {
	display:flex;
	flex-direction: column;
	grid-area: aside;
}

/* Dette er om footer tag */
#footer {
	background-color: teal;
	color:#fdfff5;
	text-align:center;
	grid-area: footer;
}

#footer a {
  color: #fdfff5;
}

.article-box {
	align-content: center;
	width: 250px;
	height: 250px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 10px;
	padding: 10px;
	border: teal solid;
	border-radius:10px;
	text-align: center;
}

.section-box {
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin: 10px;
	padding: 10px;
	border: teal solid;
	border-radius:10px;
	text-decoration: none;
}

.button-box {
	background-color:#599bb3;
	border-radius:20px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:10px 7px;
	text-decoration:none;
	text-shadow:3px 0px 11px #3d768a;
	margin: 5px;
}

.button-box:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.button-box:active {
	position:relative;
	top:1px;
}

.box {
	text-align: left;
	margin:20px;
	padding:20px;
	border: teal solid;
	border-radius:10px;
}

/*Media Quaries - for mobile*/
@media only screen and (max-width:600px){
	body {
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		background-color: #F6F5F1;
		display: grid;
		grid-gap: 1px;
		grid-template-rows: 0fr 2fr 0fr auto 1fr;
		grid-template-areas:"navbar1"
                            "header"
                            "navbar2"
		                    "main"
                            "footer";
	}
}

/*Media Quaries - for tablet*/
@media only screen and (max-width:1200px) and (min-width:600px) {
	body {
		font-size: 18px;
		margin: 0px;
		padding: 0px;
		background-color: #F6F5F1;
		display: grid;
		grid-gap: 1px;
		grid-template-rows: 0fr 2fr 0fr auto 1fr;
		grid-template-areas:"navbar1"
                            "header"
                            "navbar2"
                            "main"
                            "footer";
	}
}
